---
humilis-batch:
    description:
        A dummy environment used for testing the humilis-batch plugin.

    tags:
        key1: value2
        key2: value2

    layers:
        - layer: vpc
          layer_type: vpc
          description: VPC to test the humilis-batch plugin

        - layer: batch
          layer_type: batch
          description: This is a dummy layer-specific description
          allocation_strategy: BEST_FIT_PROGRESSIVE
          subnet_ids:
            - $layer_output:
                layer_name: vpc
                output_name: PublicSubnet1
          vpc_id:
            $layer_output:
                layer_name: vpc
                output_name: VpcId
          ami_id:
            $boto3:
                service: ec2
                call:
                    method: get_ami_by_name
                    args:
                        - "bastion"
                output_attribute: id

        - layer: batch-spot
          layer_type: batch
          type: SPOT
          allocation_strategy: BEST_FIT_PROGRESSIVE
          subnet_ids:
            - $layer_output:
                layer_name: vpc
                output_name: PublicSubnet1
          vpc_id:
            $layer_output:
                layer_name: vpc
                output_name: VpcId
          ami_id:
            $boto3:
                service: ec2
                call:
                    method: get_ami_by_name
                    args:
                        - "bastion"
                output_attribute: id

        - layer: batch-spot-with-fallback
          layer_type: batch
          type: SPOT
          allocation_strategy: BEST_FIT_PROGRESSIVE
          has_ec2_fallback: yes
          subnet_ids:
            - $layer_output:
                layer_name: vpc
                output_name: PublicSubnet1
          vpc_id:
            $layer_output:
                layer_name: vpc
                output_name: VpcId
          ami_id:
            $boto3:
                service: ec2
                call:
                    method: get_ami_by_name
                    args:
                        - "bastion"
                output_attribute: id

        - layer: batch-with-launch-template
          layer_type: batch
          type: SPOT
          allocation_strategy: BEST_FIT_PROGRESSIVE
          subnet_ids:
            - $layer_output:
                layer_name: vpc
                output_name: PublicSubnet1
          vpc_id:
            $layer_output:
                layer_name: vpc
                output_name: VpcId
          ami_id:
            $boto3:
                service: ec2
                call:
                    method: get_ami_by_name
                    args:
                        - "bastion"
                output_attribute: id
          has_launch_template: yes
          user_data: some-dummy-bas64-encoded-user-data
